Endless Runner Project/.vscode/*
Endless Runner Project/Library/*
Endless Runner Project/obj/*
Endless Runner Project/Packages/*
Endless Runner Project/Temp/*
Endless Runner Project/Assembly-CSharp-Editor-firstpass.csproj

Endless Runner Project/Assembly-CSharp-firstpass.csproj

Endless Runner Project/Assembly-CSharp.csproj
