Endless Runner Project/.vscode/*
Endless Runner Project/.vs/*
Endless Runner Project/Library/*
Endless Runner Project/obj/*
Endless Runner Project/Packages/*
Endless Runner Project/Temp/*
*.csproj
*.meta
